<div *ngIf="workday$ | async as wd">
  <table>
    <thead>
      <tr>
        <th>{{ wd.day | date }}</th>
        <th>
          <input
            type="checkbox"
            [checked]="enableHours"
            (change)="dayClicked($event)"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of wd.hours; index as i"
          (click)="onSlotClicked(i, !hour)">
        <td>{{ formatHourIndex(i) }}</td>
        <td>
          <input type="checkbox" [checked]="hour" [disabled]="!enableHours"
            (click)="$event.stopPropagation()"
            (change)="onSlotClicked(i, $any($event.target).checked)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
